body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Sour Gummy", sans-serif;
    min-height: 100vh;
}

header h1 {
    font-family: "Dancing Script", serif;
    font-size: 2.7em;
    text-align: center;
}

.main_div {
    flex-grow: 1;
    margin: auto;
    max-width: 1024px;
    width: 100vw;
}

footer {
    border-top: 4px solid #333;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer label {
    color: #999;
    font-family: "Caveat", cursive;
    font-size: 2em;
    font-weight: 700;
}

/*
320  - Mobile phones (small screens)
480  - Mobile phones (medium screens)
768  - Tablets (small screens)
1024 - Tablets (large screens), small laptops
1280 - Laptops
1440 - Large laptops and monitors
1920 - High-resolution monitors
*/

@media screen and (min-width: 1024px) {
    .main_div {
        display: flex;
    }
    .main_div main {
        flex-grow: 3;
    }
    .main_div aside {
        flex-grow: 1;
    }
}